/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-light.woff2') format('woff2'), url('../font/notokr-light.woff') format('woff'), url('../font/notokr-light.ttf') format('truetype'), url('../font/notokr-light.svg#notokr-light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-regular.woff2') format('woff2'), url('../font/notokr-regular.woff') format('woff'), url('../font/notokr-regular.ttf') format('truetype'), url('../font/notokr-regular.svg#notokr-light') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-medium.woff2') format('woff2'), url('../font/notokr-medium.woff') format('woff'), url('../font/notokr-medium.ttf') format('truetype'), url('../font/notokr-medium.svg#notokr-light') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-bold.woff2') format('woff2'), url('../font/notokr-bold.woff') format('woff'), url('../font/notokr-bold.ttf') format('truetype'), url('../font/notokr-bold.svg#notokr-light') format('svg');
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 18px;
  font-family: notokr, sans-serif;
}
input,
select,
textarea {
  outline: none;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
}
img {
  backface-visibility: hidden;
}
.container {
  min-width: 55.55555556rem;
  text-align: center;
}
.container .top {
  background: url("../img/top.png") center center no-repeat;
  background-size: cover;
  height: 26.61111111rem;
  position: relative;
  text-align: left;
}
.container .top .logo {
  width: 2.88888889rem;
  height: 4rem;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 1.27777778rem;
  right: auto;
  bottom: auto;
  margin-left: -27.44444444rem;
}
.container .top .top-txt {
  position: absolute;
  left: 50%;
  top: 7.55555556rem;
  right: auto;
  bottom: auto;
  margin-left: -27.44444444rem;
  color: #fff;
}
.container .top .top-txt h1,
.container .top .top-txt .tit {
  font-weight: 800;
}
.container .top .top-txt h1 {
  font-size: 2.22222222rem;
  line-height: 3rem;
}
.container .top .top-txt .tit {
  font-size: 1.66666667rem;
  line-height: 2.66666667rem;
}
.container .top .top-txt .date {
  font-size: 1.33333333rem;
  line-height: 1.94444444rem;
  margin-top: 0.72222222rem;
  font-weight: 400;
}
.container .top .btn {
  font-size: 1.11111111rem;
  color: #fff;
  width: 11.44444444rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border: 2px solid #fff;
  border-radius: 1.27777778rem;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 20.11111111rem;
  right: auto;
  bottom: auto;
  margin-left: -27.44444444rem;
}
.container.registered .top,
.container.registration .top {
  height: 21.38888889rem;
}
.container .sec1 {
  padding-top: 3.33333333rem;
  padding-right: 0rem;
  padding-bottom: 4.44444444rem;
  padding-left: 0rem;
  box-sizing: border-box;
}
.container .sec1 .txt {
  font-size: 1.11111111rem;
  line-height: 1.66666667rem;
  color: #2c2c2c;
}
.container .sec1 .txt span {
  font-weight: 700;
}
.container .sec1 .btn {
  font-size: 1.11111111rem;
  color: #fff;
  font-weight: 700;
  width: 11.44444444rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #1473e7;
  display: inline-block;
  border-radius: 1.27777778rem;
  margin-top: 1.66666667rem;
}
.container .sec2 {
  background: url("../img/agenda.png") center center no-repeat;
  height: 48.88888889rem;
  background-size: cover;
  padding-top: 3.88888889rem;
  padding-right: 0rem;
  padding-bottom: 3.88888889rem;
  padding-left: 0rem;
  box-sizing: border-box;
  text-align: center;
}
.container .sec2 .agenda {
  width: 54.88888889rem;
  display: inline-block;
  color: #fff;
}
.container .sec2 .agenda h2 {
  font-size: 1.55555556rem;
  font-weight: 700;
  margin-bottom: 1.11111111rem;
}
.container .sec2 .agenda .cont {
  font-size: 1.11111111rem;
  margin-bottom: 2.38888889rem;
  text-align: left;
}
.container .sec2 .agenda .cont div .p1 {
  width: 10rem;
}
.container .sec2 .agenda .cont div p {
  display: inline-block;
  line-height: 2.5rem;
}
.container .sec2 .agenda .cont .cell1 {
  border-bottom: 2px solid #e00000;
  padding-bottom: 0.27777778rem;
}
.container .sec2 .agenda .cont .cell1 .time span {
  width: 8.33333333rem;
  height: 1.66666667rem;
  line-height: 1.66666667rem;
  background-color: #0f1133;
  border-radius: 0.83333333rem;
  display: inline-block;
  text-align: center;
}
.container .sec2 .agenda .cont .cell1 .p2 {
  font-size: 1.55555556rem;
}
.container .sec2 .agenda .cont .cell2 {
  padding-top: 0.27777778rem;
}
.container .sec2 .agenda .cont .cell2 .p1 {
  vertical-align: top;
}
.container .sec2 .agenda .cont .cell2 .p2 {
  line-height: 1.88888889rem;
  margin-top: 0.44444444rem;
}
.container .sec2 .agenda .cont .cell2 .p2 span {
  color: #b4b4b4;
}
.container .sec2 .agenda .cont .cell2 .inner {
  display: inline-block;
  vertical-align: top;
  width: 25.55555556rem;
}
.container .sec2 .agenda .cont .cell2 .inner .inner-box {
  display: inline-block;
}
.container .sec2 .agenda .cont .cell2 .inner .inner-box .p2 {
  font-size: 1rem;
  line-height: 1.77777778rem;
  display: block;
  margin-bottom: 1.11111111rem;
}
.container .sec2 .agenda .cont .cell2 .inner + .inner {
  width: 28.88888889rem;
}
.container .sec2 .agenda .cont .cell2 .inner + .inner .p1 {
  width: 6.66666667rem;
}
.container .sec3 {
  padding-top: 3.33333333rem;
  padding-right: 0rem;
  padding-bottom: 3.88888889rem;
  padding-left: 0rem;
  box-sizing: border-box;
}
.container .sec3 h2 {
  font-size: 1.55555556rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.container .sec3 .ps {
  font-size: 0rem;
}
.container .sec3 .ps .ps-box {
  display: inline-block;
  vertical-align: top;
  margin-right: 5.55555556rem;
}
.container .sec3 .ps .ps-box:last-child {
  margin-right: 0rem;
}
.container .sec3 .ps .ps-box img {
  width: 13.11111111rem;
  height: 13.11111111rem;
}
.container .sec3 .ps .ps-box p {
  font-size: 1.11111111rem;
  color: #2c2c2c;
  vertical-align: top;
  margin-top: 1.11111111rem;
}
.container .sec3 .ps .ps-box p span {
  font-size: 0.88888889rem;
  line-height: 1.44444444rem;
  color: #777;
  margin-top: 0.55555556rem;
  display: inline-block;
}
.container .user-info {
  display: inline-block;
  text-align: left;
  width: 54.88888889rem;
}
.container .user-info .inner {
  margin-top: 2.77777778rem;
}
.container .user-info .inner h2 {
  font-size: 1.44444444rem;
  font-weight: 700;
  line-height: 2.22222222rem;
}
.container .user-info .inner h2 span {
  font-size: 0.88888889rem;
  font-weight: 400;
}
.container .user-info .inner .inner-box {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.container .user-info .inner .inner-box .block-box {
  font-size: 0rem;
  padding-top: 0.44444444rem;
  padding-right: 0rem;
  padding-bottom: 0.44444444rem;
  padding-left: 1.11111111rem;
  box-sizing: border-box;
}
.container .user-info .inner .inner-box .block-box:nth-child(odd) {
  background-color: #f3f3f3;
}
.container .user-info .inner .inner-box .block-box p,
.container .user-info .inner .inner-box .block-box select,
.container .user-info .inner .inner-box .block-box input {
  font-size: 0.88888889rem;
  height: 1.88888889rem;
  line-height: 1.88888889rem;
  display: inline-block;
  vertical-align: middle;
}
.container .user-info .inner .inner-box .block-box select,
.container .user-info .inner .inner-box .block-box input {
  width: 13.33333333rem;
  border: 1px solid #eaeaea;
  padding-left: 0.83333333rem;
  box-sizing: border-box;
  margin-right: 0.55555556rem;
}
.container .user-info .inner .inner-box .block-box select {
  appearance: auto;
}
.container .user-info .inner .inner-box .block-box p {
  width: 10.55555556rem;
}
.container .user-info .inner .inner-box .block-box p span {
  color: #ff104f;
  margin-right: 0.27777778rem;
}
.container .user-info .inner .inner-box .block-box s {
  font-size: 0.88888889rem;
  display: inline-block;
  height: 1.88888889rem;
  line-height: 1.88888889rem;
  vertical-align: middle;
  margin-right: 0.55555556rem;
}
.container .user-info .inner .inner-box .block-box.name .name1 {
  margin-right: 1.11111111rem;
}
.container .user-info .inner .inner-box .block-box.email .email2 {
  width: 11.83333333rem;
}
.container .user-info .inner .inner-box .block-box.add p {
  vertical-align: top;
}
.container .user-info .inner .inner-box .block-box.add div {
  display: inline-block;
}
.container .user-info .inner .inner-box .block-box.add div input {
  display: block;
  margin-bottom: 0.27777778rem;
}
.container .user-info .inner .inner-box .block-box.add div .add1 {
  display: inline-block;
}
.container .user-info .inner .inner-box .block-box.add div .add2,
.container .user-info .inner .inner-box .block-box.add div .add3 {
  width: 27.77777778rem;
}
.container .user-info .inner .inner-box .block-box.add div p {
  font-size: 0.77777778rem;
  width: auto;
  padding-left: 0rem;
}
.container .user-info .inner .inner-box .block-box.add div span {
  font-size: 0.88888889rem;
  width: 6.66666667rem;
  border: 2px solid #000;
  background-color: #efefef;
  display: inline-block;
  height: 1.88888889rem;
  line-height: 1.88888889rem;
  color: #adadac;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  margin-bottom: 0.27777778rem;
  cursor: pointer;
}
.container .user-info .inner .inner-box .block-box.indus select {
  width: 19.44444444rem;
}
.container .user-info .inner .inner-box .block-box.c-name input,
.container .user-info .inner .inner-box .block-box.depart input,
.container .user-info .inner .inner-box .block-box.rank input {
  width: 41.11111111rem;
}
.container .user-info .inner .inner-box .block-box.text p {
  display: block;
  width: auto;
  margin-bottom: 1.11111111rem;
}
.container .user-info .inner .inner-box .block-box.text textarea {
  font-size: 0.88888889rem;
  width: 51.66666667rem;
  height: 5.55555556rem;
  border: 1px solid #eaeaea;
  padding: 1.11111111rem;
  box-sizing: border-box;
}
.container .user-info .inner + .inner h2 {
  margin-bottom: 1.94444444rem;
}
.container .user-info .inner + .inner p {
  font-size: 0.88888889rem;
  line-height: 1.33333333rem;
  margin-bottom: 1.38888889rem;
}
.container .user-info .inner + .inner p span {
  font-weight: 700;
  text-decoration: underline;
}
.container .user-info .inner + .inner label {
  font-size: 0.88888889rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.27777778rem;
}
.container .user-info .inner + .inner label input {
  appearance: auto;
}
.container .user-info .inner + .inner label span {
  color: #ff104f;
}
.container .user-info .inner + .inner label + label {
  margin-bottom: 1.66666667rem;
}
.container .user-info a {
  font-size: 1.33333333rem;
  width: 13.55555556rem;
  height: 3.05555556rem;
  line-height: 3.05555556rem;
  text-align: center;
  color: #fff;
  background-color: #1473e7;
  border-radius: 1.55555556rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.77777778rem;
  margin-bottom: 2.77777778rem;
}
.container .notice {
  padding-top: 2.5rem;
  padding-right: 0rem;
  padding-bottom: 2.5rem;
  padding-left: 0rem;
  box-sizing: border-box;
  background-color: #e2e3f4;
}
.container .notice p {
  font-size: 1rem;
  line-height: 1.55555556rem;
  color: #333;
}
.container .thanks {
  padding-top: 3.88888889rem;
  padding-right: 0rem;
  padding-bottom: 3.88888889rem;
  padding-left: 0rem;
  box-sizing: border-box;
}
.container .thanks p {
  font-size: 2.11111111rem;
  font-weight: 700;
  line-height: 2.77777778rem;
}
.container .thanks p + p {
  font-weight: 400;
}
.container .thanks .btn {
  font-size: 1.11111111rem;
  color: #fff;
  width: 14.77777778rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 1.27777778rem;
  text-align: center;
  background-color: #1473e7;
  display: inline-block;
  margin-top: 1.66666667rem;
}
.container .footer {
  height: 2.88888889rem;
  background-color: #000;
}
.container .footer p {
  font-size: 0.66666667rem;
  line-height: 2.88888889rem;
  color: #666;
}
.container .mobile {
  display: none;
}
.container .web {
  display: inline-block;
}
@media screen and (max-width: 1080px) {
  .container {
    min-width: unset;
  }
  .container .top .logo,
  .container .top .top-txt,
  .container .top .btn {
    left: 2.77777778rem;
    margin-left: 0rem;
  }
  .container .sec1 {
    padding-top: 3.33333333rem;
    padding-right: 1.66666667rem;
    padding-bottom: 4.44444444rem;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
  }
  .container .sec1 .txt {
    font-size: 1.11111111rem;
    color: #2c2c2c;
  }
  .container .sec1 .txt span {
    font-weight: 700;
  }
  .container .sec1 .btn {
    font-size: 1.11111111rem;
    color: #fff;
    font-weight: 700;
    width: 11.44444444rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #1473e7;
    display: inline-block;
    border-radius: 1.27777778rem;
    margin-top: 1.66666667rem;
  }
  .container .sec2 .agenda {
    width: 41.66666667rem;
  }
  .container .sec2 .agenda .cont {
    margin-bottom: 1.11111111rem;
  }
  .container .sec2 .agenda .cont .cell2 .inner {
    width: 100%;
    border-bottom: 1px solid #666;
    padding-bottom: 0.55555556rem;
  }
  .container .sec2 .agenda .cont .cell2 .inner + .inner {
    width: 100%;
    margin-bottom: 1.11111111rem;
    border-bottom: 0;
    padding-top: 0.55555556rem;
  }
  .container .sec2 .agenda .cont .cell2 .inner + .inner .p1 {
    width: 10rem;
  }
  .container .sec3 .ps {
    width: 41.66666667rem;
    display: inline-block;
  }
  .container .sec3 .ps .ps-box {
    margin-top: 0rem;
    margin-right: 0.83333333rem;
    margin-bottom: 1.66666667rem;
    margin-left: 0rem;
  }
  .container .sec3 .ps .ps-box:last-child {
    margin-right: 0rem;
  }
  .container .sec3 .ps .ps-box p {
    font-size: 1.11111111rem;
    color: #2c2c2c;
    vertical-align: top;
    margin-top: 1.11111111rem;
  }
  .container .sec3 .ps .ps-box p span {
    font-size: 0.88888889rem;
    line-height: 1.44444444rem;
    color: #777;
    margin-top: 0.55555556rem;
    display: inline-block;
  }
  .container .user-info {
    width: 41.66666667rem;
  }
  .container .user-info .inner .inner-box .block-box select,
  .container .user-info .inner .inner-box .block-box input {
    width: 10rem;
  }
  .container .user-info .inner .inner-box .block-box p {
    width: 8.33333333rem;
  }
  .container .user-info .inner .inner-box .block-box.email .email2 {
    width: 8.61111111rem;
  }
  .container .user-info .inner .inner-box .block-box.c-name input,
  .container .user-info .inner .inner-box .block-box.depart input,
  .container .user-info .inner .inner-box .block-box.rank input {
    width: 31.11111111rem;
  }
  .container .user-info .inner .inner-box .block-box.text textarea {
    width: 39.44444444rem;
  }
  .container .user-info .inner + .inner h2 {
    margin-bottom: 1.94444444rem;
  }
  .container .user-info .inner + .inner p {
    font-size: 0.88888889rem;
    line-height: 1.33333333rem;
    margin-bottom: 1.38888889rem;
  }
  .container .user-info .inner + .inner p span {
    font-weight: 700;
    text-decoration: underline;
  }
  .container .user-info .inner + .inner label {
    font-size: 0.88888889rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.27777778rem;
  }
  .container .user-info .inner + .inner label input {
    appearance: auto;
  }
  .container .user-info .inner + .inner label span {
    color: #ff104f;
  }
  .container .user-info .inner + .inner label + label {
    margin-bottom: 1.66666667rem;
  }
  .container .user-info a {
    font-size: 1.33333333rem;
    width: 13.55555556rem;
    height: 3.05555556rem;
    line-height: 3.05555556rem;
    text-align: center;
    color: #fff;
    background-color: #1473e7;
    border-radius: 1.55555556rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.77777778rem;
    margin-bottom: 2.77777778rem;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 9px;
  }
  .container {
    min-width: unset;
  }
  .container .top {
    background: url("../img/top-m.png") bottom center no-repeat;
    width: 100%;
    height: 61.77777778rem;
    background-size: cover;
  }
  .container .top .logo {
    left: 1.94444444rem;
    top: 1.94444444rem;
    right: auto;
    bottom: auto;
  }
  .container .top .top-txt {
    position: relative;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    padding-left: 1.94444444rem;
    padding-top: 9.44444444rem;
    box-sizing: border-box;
  }
  .container .top .top-txt h1 {
    font-size: 3.22222222rem;
    line-height: 4.55555556rem;
    margin-bottom: 0.55555556rem;
  }
  .container .top .top-txt .tit {
    font-size: 2.22222222rem;
    line-height: 3rem;
    margin-bottom: 1.55555556rem;
  }
  .container .top .top-txt .date {
    font-size: 2.11111111rem;
  }
  .container .top .btn {
    font-size: 1.88888889rem;
    width: 17.5rem;
    height: 4.33333333rem;
    line-height: 4.33333333rem;
    border-radius: 2.16666667rem;
    position: relative;
    margin-top: 2.22222222rem;
    display: inline-block;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    margin-left: 1.94444444rem;
  }
  .container .sec1 {
    padding-top: 4.16666667rem;
    padding-right: 2.22222222rem;
    padding-bottom: 5.55555556rem;
    padding-left: 2.22222222rem;
    text-align: left;
  }
  .container .sec1 .txt {
    font-size: 1.55555556rem;
    line-height: 2.22222222rem;
  }
  .container .sec1 .btn {
    font-size: 1.88888889rem;
    width: 17.5rem;
    height: 4.33333333rem;
    line-height: 4.33333333rem;
    border-radius: 2.16666667rem;
    margin-top: 3.33333333rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container .sec2 {
    padding-top: 3.88888889rem;
    padding-right: 2.22222222rem;
    padding-bottom: 3.88888889rem;
    padding-left: 2.22222222rem;
    background: url("../img/agenda-m.png") top center;
    background-size: cover;
    width: 100%;
    height: 73rem;
  }
  .container .sec2 .agenda {
    width: 100%;
  }
  .container .sec2 .agenda h2 {
    font-size: 2.22222222rem;
    margin-bottom: 2.22222222rem;
  }
  .container .sec2 .agenda .cont {
    font-size: 1.66666667rem;
    margin-bottom: 2.77777778rem;
  }
  .container .sec2 .agenda .cont div .p1 {
    width: 11.66666667rem;
  }
  .container .sec2 .agenda .cont div p {
    line-height: 3.33333333rem;
  }
  .container .sec2 .agenda .cont .cell1 .time {
    font-size: 1.5rem;
  }
  .container .sec2 .agenda .cont .cell1 .time span {
    width: 10.55555556rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 1.27777778rem;
  }
  .container .sec2 .agenda .cont .cell1 .p2 {
    font-size: 2rem;
  }
  .container .sec2 .agenda .cont .cell2 {
    padding-top: 1.11111111rem;
  }
  .container .sec2 .agenda .cont .cell2 .p1 {
    font-weight: 800;
  }
  .container .sec2 .agenda .cont .cell2 .p2 {
    font-size: 1.55555556rem;
    line-height: 2.5rem;
    margin-top: 0.44444444rem;
  }
  .container .sec2 .agenda .cont .cell2 .p2 span {
    color: #b4b4b4;
  }
  .container .sec2 .agenda .cont .cell2 .inner {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 1.11111111rem;
  }
  .container .sec2 .agenda .cont .cell2 .inner .inner-box {
    display: inline-block;
  }
  .container .sec2 .agenda .cont .cell2 .inner .inner-box .p2 {
    font-size: 1rem;
    line-height: 1.77777778rem;
    display: block;
    margin-bottom: 1.11111111rem;
  }
  .container .sec2 .agenda .cont .cell2 .inner + .inner {
    width: 100%;
    margin-bottom: 1.11111111rem;
    padding-top: 1.11111111rem;
    border-bottom: 0;
  }
  .container .sec2 .agenda .cont .cell2 .inner + .inner .p1 {
    width: 11.66666667rem;
  }
  .container .sec2 .agenda .cont .cell2 .inner + .inner .inner-box .p2 {
    font-size: 1.55555556rem;
    line-height: 2.11111111rem;
    margin-bottom: 1.11111111rem;
  }
  .container .sec3 .ps {
    width: 100%;
    padding-top: 0rem;
    padding-right: 2.77777778rem;
    padding-bottom: 0rem;
    padding-left: 2.77777778rem;
    box-sizing: border-box;
    text-align: left;
  }
  .container .sec3 .ps .ps-box {
    width: 50%;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 2.77777778rem;
    margin-left: 0rem;
    text-align: center;
  }
  .container .sec3 .ps .ps-box img {
    width: 15.33333333rem;
    height: 15.33333333rem;
  }
  .container .sec3 .ps .ps-box p {
    font-size: 1.55555556rem;
  }
  .container .sec3 .ps .ps-box p span {
    font-size: 1.33333333rem;
    line-height: 1.88888889rem;
  }
  .container .notice {
    padding-top: 3.05555556rem;
    padding-right: 0rem;
    padding-bottom: 3.05555556rem;
    padding-left: 0rem;
  }
  .container .notice p {
    font-size: 1.33333333rem;
    line-height: 1.88888889rem;
  }
  .container .user-info {
    width: 100%;
    padding-top: 0vw;
    padding-right: 5.20833333vw;
    padding-bottom: 0vw;
    padding-left: 5.20833333vw;
    box-sizing: border-box;
  }
  .container .user-info .inner h2 {
    font-size: 1.55555556rem;
  }
  .container .user-info .inner h2 span {
    font-size: 1.11111111rem;
  }
  .container .user-info .inner .inner-box .block-box p {
    font-size: 1.33333333rem;
  }
  .container .user-info .inner .inner-box .block-box select,
  .container .user-info .inner .inner-box .block-box input {
    font-size: 1.33333333rem;
    width: 20.83333333vw;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 1.04166667vw;
  }
  .container .user-info .inner .inner-box .block-box p {
    width: 18.75vw;
  }
  .container .user-info .inner .inner-box .block-box s {
    font-size: 1.33333333rem;
    margin-right: 0.52083333vw;
  }
  .container .user-info .inner .inner-box .block-box.email s {
    display: inline-block;
    width: 2.60416667vw;
  }
  .container .user-info .inner .inner-box .block-box.email .email2 {
    width: 17.70833333vw;
  }
  .container .user-info .inner .inner-box .block-box.add div span {
    font-size: 1.11111111rem;
    width: 20.83333333vw;
    height: 2.5rem;
    line-height: 2.5rem;
    border: 1px solid #000;
  }
  .container .user-info .inner .inner-box .block-box.add div .add2,
  .container .user-info .inner .inner-box .block-box.add div .add3 {
    width: 64.58333333vw;
  }
  .container .user-info .inner .inner-box .block-box.add div p {
    font-size: 1.22222222rem;
    display: inline-block;
    width: 64.58333333vw;
    height: auto;
    line-height: 1.77777778rem;
    word-break: keep-all;
  }
  .container .user-info .inner .inner-box .block-box.indus select {
    width: 33.85416667vw;
  }
  .container .user-info .inner .inner-box .block-box.c-name input,
  .container .user-info .inner .inner-box .block-box.depart input,
  .container .user-info .inner .inner-box .block-box.rank input {
    width: 64.58333333vw;
  }
  .container .user-info .inner .inner-box .block-box.text textarea {
    width: 83.33333333vw;
    height: 11.11111111rem;
  }
  .container .user-info .inner + .inner p {
    font-size: 1.33333333rem;
    line-height: 2rem;
  }
  .container .user-info .inner + .inner label {
    font-size: 1.22222222rem;
    margin-bottom: 0.55555556rem;
  }
  .container .user-info a {
    font-size: 1.66666667rem;
    width: 33.85416667vw;
    height: 3.88888889rem;
    line-height: 3.88888889rem;
    border-radius: 1.94444444rem;
  }
  .container .footer {
    height: 8.33333333rem;
    padding-top: 2rem;
    padding-right: 1.66666667rem;
    padding-bottom: 2rem;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
  }
  .container .footer.index {
    height: 4.33333333rem;
    line-height: 4.33333333rem;
    padding: 0rem;
  }
  .container .footer.index p {
    line-height: 4.33333333rem;
  }
  .container .footer p {
    font-size: 1.11111111rem;
    line-height: 2rem;
  }
  .container .mobile {
    display: inline-block;
  }
  .container .web {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */