/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
body {
  font-family: "Noto Sans KR", sans-serif !important;
}
html {
  font-size: 18px;
}
img {
  display: block;
  backface-visibility: hidden;
}
button,
input,
textarea {
  outline: none;
}
a {
  display: inline-block;
  cursor: pointer;
}
@media screen and (min-width: 801px) {
  .mo {
    display: none;
  }
  .web {
    display: inline-block;
  }
  .container .wrap {
    font-size: 0rem;
    text-align: center;
    position: relative;
    max-width: 106.66666667rem;
    min-height: 60rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #faf5ec;
  }
  .container .wrap h1 {
    width: 13.66666667rem;
    height: 8.83333333rem;
    position: absolute;
    left: 50%;
    top: 3.44444444rem;
    right: auto;
    bottom: auto;
    margin-left: -49.72222222rem;
  }
  .container .wrap h1 img {
    width: 100%;
    height: 100%;
  }
  .container .wrap header {
    background: url('../img/pc/header.png') no-repeat center top;
    height: 7.55555556rem;
    position: relative;
    z-index: 3;
  }
  .container .wrap section {
    width: 75.55555556rem;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin-top: 0rem;
    overflow: unset;
    display: inline-block;
  }
  .container .wrap section:after {
    content: '';
    display: block;
    width: 29.72222222rem;
    height: 36.72222222rem;
    position: absolute;
    left: 50%;
    top: 10.44444444rem;
    right: auto;
    bottom: auto;
    background-repeat: no-repeat;
    background-image: url('../img/pc/mom-sun.png');
    background-size: contain;
    z-index: -1;
    margin-left: 21.66666667rem;
  }
  .container .wrap section.main img {
    height: 54.16666667rem;
    margin-top: -7.55555556rem;
  }
  .container .wrap section.cont2 {
    background-repeat: no-repeat;
    background-image: url('../img/pc/img2.png');
    background-size: contain;
    height: 79.16666667rem;
  }
  .container .wrap section.cont3 {
    background-repeat: no-repeat;
    background-image: url('../img/pc/img3.png');
    background-size: contain;
    height: 80.72222222rem;
  }
  .container .wrap section.cont4 {
    background-repeat: no-repeat;
    background-image: url('../img/pc/img4.png');
    background-size: contain;
    height: 24.33333333rem;
  }
  .container .wrap .bottom {
    height: 17.44444444rem;
    margin-top: 0rem;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    right: auto;
    top: auto;
    background: url('../img/pc/bottom.png') no-repeat center top;
    z-index: 1;
  }
  .container .wrap .bottom2 {
    width: 106.66666667rem;
    height: 6.94444444rem;
    margin-top: 0rem;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    right: auto;
    top: auto;
    background: url('../img/pc/bottom2.png') no-repeat center top;
    z-index: 1;
  }
  .container .wrap section.cont2 .swiper {
    margin-top: 30.88888889rem;
    width: 64.55555556rem;
    overflow: hidden;
  }
  .container .wrap section.cont2 .swiper .swiper-wrapper .swiper-slide {
    width: 22.22222222rem;
    height: 22.44444444rem;
  }
  .container .wrap section.cont2 .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .container .wrap section.cont2 .swiper .swiper-pagination {
    bottom: 0rem;
  }
  .container .wrap section.cont2 .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 0.77777778rem;
    height: 0.77777778rem;
    background-color: #e3e3e3;
    margin-top: 0rem;
    margin-right: 0.27777778rem;
    margin-bottom: 0rem;
    margin-left: 0.27777778rem;
    opacity: 1;
  }
  .container .wrap section.cont2 .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #f4410e;
  }
  .container .wrap section.cont2 .swiper-button {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40rem;
    right: auto;
    bottom: auto;
    margin-top: 0rem;
    opacity: 1;
    z-index: 3;
  }
  .container .wrap section.cont2 .swiper-button.swiper-button-prev {
    margin-left: -34.22222222rem;
    width: 0.88888889rem;
    height: 1.77777778rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow-prev.png');
    background-size: contain;
  }
  .container .wrap section.cont2 .swiper-button.swiper-button-next {
    margin-left: 33.22222222rem;
    width: 0.88888889rem;
    height: 1.77777778rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow-next.png');
    background-size: contain;
  }
  .container .wrap section.cont2 .evt-go {
    width: 42.55555556rem;
    height: 7.05555556rem;
    position: absolute;
    left: 50%;
    bottom: 10.94444444rem;
    right: auto;
    top: auto;
    margin-left: -21.27777778rem;
  }
  .container .wrap section.cont4 .purchase {
    width: 14.38888889rem;
    height: 4.33333333rem;
    position: absolute;
    left: 50%;
    top: 14.77777778rem;
    right: auto;
    bottom: auto;
    margin-left: -1.16666667rem;
  }
  .container .wrap section.cont5 {
    padding-top: 8.88888889rem;
    padding-right: 4.27777778rem;
    padding-bottom: 2.77777778rem;
    padding-left: 4.27777778rem;
    box-sizing: border-box;
    background-color: #f2f2f2;
    position: relative;
  }
  .container .wrap section.cont5:after {
    content: '';
    display: block;
    width: 13rem;
    height: 3.16666667rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/noti.png');
    background-size: contain;
    position: absolute;
    left: 4.33333333rem;
    top: 4.33333333rem;
    right: auto;
    bottom: auto;
    z-index: 1;
  }
  .container .wrap section.cont5 .notice {
    text-align: left;
  }
  .container .wrap section.cont5 .notice p {
    font-size: 1.33333333rem;
    color: #888;
    line-height: 2.16666667rem;
    text-indent: -0.55555556rem;
    margin-left: 0.55555556rem;
    letter-spacing: -0.04em;
    word-break: keep-all;
  }
  .container .wrap footer {
    background: none;
    padding: 0rem;
    height: auto;
    margin-bottom: 21.11111111rem;
  }
  .container .wrap footer .inner {
    background-color: #888;
    width: 75.55555556rem;
    height: 21.11111111rem;
    padding-top: 3.88888889rem;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
  }
  .container .wrap footer .inner:after {
    content: '';
    display: block;
    width: 8.22222222rem;
    height: 8.22222222rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/cs.png');
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 7.55555556rem;
    right: auto;
    bottom: auto;
    margin-left: -18.38888889rem;
  }
  .container .wrap footer .inner p {
    font-size: 2rem;
    line-height: 2.16666667rem;
    margin-bottom: 2.11111111rem;
    color: #fff;
    letter-spacing: -0.05em;
  }
  .container .wrap footer .inner .tit,
  .container .wrap footer .inner .txt {
    font-size: 1.44444444rem;
    line-height: 2.16666667rem;
    width: 50%;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    letter-spacing: -0.05em;
    box-sizing: border-box;
  }
  .container .wrap footer .inner .tit {
    text-align: right;
    padding-right: 3.05555556rem;
    position: relative;
  }
  .container .wrap footer .inner .tit:after {
    content: '';
    display: block;
    width: 0.05555556rem;
    height: 6.11111111rem;
    position: absolute;
    right: 1.27777778rem;
    top: 0.27777778rem;
    left: auto;
    bottom: auto;
    background-color: #f8efe2;
  }
  .container .wrap footer .inner .txt {
    text-align: left;
    padding-left: 0.33333333rem;
  }
  .container.event .wrap {
    background-color: #fff;
    position: relative;
    height: 100vh;
  }
  .container.event .wrap section {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: -2.22222222rem;
  }
  .container.event .wrap section.evt1 .tit {
    margin-top: 0rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/evt1-tit.png');
    background-size: contain;
    width: 65.61111111rem;
    height: 14.72222222rem;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .container.event .wrap section.evt1 .postit {
    width: 21.55555556rem;
    height: 21.77777778rem;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .container.event .wrap section.evt1 .postit .postit-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1.44444444rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container.event .wrap section.evt1 .postit .post-txt {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    left: -1.44444444rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container.event .wrap section.evt1 .postit .post-txt.on {
    background-repeat: no-repeat;
    background-image: url('../img/pc/post-txt.png');
    background-size: contain;
    display: block;
  }
  .container.event .wrap section.evt1 .postit textarea {
    font-size: 1.11111111rem;
    font-family: "Noto Sans KR", sans-serif;
    width: 16.11111111rem;
    height: 9.44444444rem;
    text-align: center;
    background: transparent;
    position: absolute;
    left: 2rem;
    top: 4.44444444rem;
    right: auto;
    bottom: auto;
    overflow-y: scroll;
  }
  .container.event .wrap section.evt1 .postit textarea::-webkit-scrollbar {
    display: none;
  }
  .container.event .wrap section.evt1 .share-go {
    width: 19rem;
    height: 4.05555556rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/share-btn.png');
    background-size: contain;
    margin-top: 1.88888889rem;
    display: inline-block;
    margin-left: -1.44444444rem;
  }
  .container.event .wrap section.evt2 > .tit {
    margin-top: 0rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/evt2-tit.png');
    background-size: contain;
    width: 65.61111111rem;
    height: 11.83333333rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container.event .wrap section.evt2 .agree {
    margin-top: 2.5rem;
    text-align: left;
    background-repeat: no-repeat;
    background-image: url('../img/pc/agree.png');
    background-size: contain;
    width: 30.94444444rem;
    height: 16.61111111rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8rem;
    box-sizing: border-box;
  }
  .container.event .wrap section.evt2 .agree table {
    table-layout: fixed;
  }
  .container.event .wrap section.evt2 .agree table tr th {
    width: 15rem;
  }
  .container.event .wrap section.evt2 .agree table tr th:last-child input {
    margin-bottom: 0rem;
  }
  .container.event .wrap section.evt2 .agree table tr th input {
    font-size: 0.88888889rem;
    width: 15rem;
    height: 2.66666667rem;
    margin-bottom: 0.13888889rem;
    border: 0;
    background: transparent;
    padding-left: 0.83333333rem;
    box-sizing: border-box;
  }
  .container.event .wrap section.evt2 .agree table tr td {
    width: 7.61111111rem;
  }
  .container.event .wrap section.evt2 .agree table tr td a {
    width: 7.61111111rem;
    height: 2.66666667rem;
    margin-left: 0.16666667rem;
  }
  .container.event .wrap section.evt2 .agree-box {
    margin-top: 1.38888889rem;
    width: 30.94444444rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    text-align: left;
  }
  .container.event .wrap section.evt2 .agree-box:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container.event .wrap section.evt2 .agree-box .tit {
    font-size: 0.77777778rem;
    line-height: 0.94444444rem;
    font-weight: 700;
    padding-left: 0.16666667rem;
    box-sizing: border-box;
    display: inline-block;
  }
  .container.event .wrap section.evt2 .agree-box label {
    float: right;
  }
  .container.event .wrap section.evt2 .agree-box label input[type=checkbox] + i {
    width: 0.88888889rem;
    height: 0.88888889rem;
    border: 2px solid #b0b0b0;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 0.16666667rem;
    vertical-align: middle;
    margin-right: 0.27777778rem;
  }
  .container.event .wrap section.evt2 .agree-box label input[type=checkbox]:checked + i {
    width: 0.88888889rem;
    height: 0.88888889rem;
    border: 2px solid #b0b0b0;
    background-color: #f3410e;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 0.16666667rem;
    vertical-align: middle;
    margin-right: 0.27777778rem;
  }
  .container.event .wrap section.evt2 .agree-box label input {
    display: none;
  }
  .container.event .wrap section.evt2 .agree-box label s {
    font-size: 0.77777778rem;
    line-height: 0.94444444rem;
    display: inline-block;
    vertical-align: middle;
  }
  .container.event .wrap section.evt2 .agree-box .agree-txt {
    font-size: 0.77777778rem;
    line-height: 1.11111111rem;
    color: #888;
    border: 2px solid #b0b0b0;
    background-color: #fafafa;
    border-radius: 0.27777778rem;
    text-align: left;
    margin-top: 0.55555556rem;
    padding-top: 0.55555556rem;
    padding-right: 0.44444444rem;
    padding-bottom: 0.55555556rem;
    padding-left: 0.44444444rem;
    box-sizing: border-box;
    width: 30.94444444rem;
    height: 4.16666667rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .container.event .wrap section.evt2 .agree-box .agree-txt::-webkit-scrollbar {
    display: none;
  }
  .container.event .wrap section.evt2 ::placeholder {
    color: #b8b8b8;
  }
  .container.event .wrap section.evt2 .evt3-go {
    width: 19rem;
    height: 4.11111111rem;
    margin-top: 2.22222222rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/evt3-go.png');
    background-size: contain;
    display: inline-block;
  }
  .container.event .wrap section.evt3 .tit {
    background-repeat: no-repeat;
    background-image: url('../img/pc/evt3-tit.png');
    background-size: contain;
    width: 47.27777778rem;
    height: 12.27777778rem;
    margin-top: 0rem;
    display: inline-block;
  }
  .container.event .wrap section.evt3 .speech {
    height: 14.66666667rem;
    display: block;
    margin-top: 0rem;
    padding-top: 4.44444444rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  .container.event .wrap section.evt3 .speech:after {
    display: none;
  }
  .container.event .wrap section.evt3 .speech .web-swiper {
    width: 55.77777778rem;
    height: 10.22222222rem;
    position: absolute;
    left: 50%;
    top: 4.44444444rem;
    right: auto;
    bottom: auto;
    margin-left: -39.38888889rem;
    overflow: hidden;
  }
  .container.event .wrap section.evt3 .speech .web-swiper .swiper-slide {
    width: 17.88888889rem;
    height: 10.22222222rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container.event .wrap section.evt3 .speech .web-swiper .swiper-slide a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .container.event .wrap section.evt3 .speech .web-swiper .swiper-slide a img {
    width: 100%;
    height: 100%;
  }
  .container.event .wrap section.evt3 .speech .swiper-button-web {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 1.11111111rem;
    width: 0.88888889rem;
    height: 1.77777778rem;
    opacity: 1;
    z-index: 5;
  }
  .container.event .wrap section.evt3 .speech .swiper-button-web:after {
    display: none;
  }
  .container.event .wrap section.evt3 .speech .swiper-button-web.swiper-button-prev {
    margin-left: -41.77777778rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow-prev.png');
    background-size: contain;
  }
  .container.event .wrap section.evt3 .speech .swiper-button-web.swiper-button-next {
    margin-left: 17.77777778rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow-next.png');
    background-size: contain;
  }
  .container.event .wrap section.evt3 .buy {
    background-repeat: no-repeat;
    background-image: url('../img/pc/buy.png');
    background-size: contain;
    width: 44.66666667rem;
    height: 17rem;
    display: inline-block;
    margin-left: -34.11111111rem;
  }
  .container.event .wrap section.evt3 .buy .purchase {
    width: 11.83333333rem;
    height: 3.55555556rem;
    position: absolute;
    left: 22.38888889rem;
    top: 11.72222222rem;
    right: auto;
    bottom: auto;
    display: inline-block;
  }
  .container.event .wrap .doodles {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .container.event .wrap .doodles img {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
  }
  .container.event .wrap .doodles img.doodle1 {
    width: 10.27777778rem;
    height: 3.05555556rem;
    margin-top: -21.11111111rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 42.94444444rem;
  }
  .container.event .wrap .doodles img.doodle2 {
    width: 5.38888889rem;
    height: 6.38888889rem;
    margin-top: 2.77777778rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: -29.83333333rem;
  }
  .container.event .wrap .doodles img.doodle3 {
    width: 32.72222222rem;
    height: 10.44444444rem;
    margin-top: 5rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: -53.33333333rem;
  }
  .container.event .wrap .doodles img.doodle4 {
    width: 11.66666667rem;
    height: 3.72222222rem;
    margin-top: -5.27777778rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: -53.33333333rem;
  }
  .container.event .wrap .doodles img.doodle5 {
    width: 5.05555556rem;
    height: 5.44444444rem;
    margin-top: -5.55555556rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 22.22222222rem;
  }
  .container.event .wrap .doodles img.doodle6 {
    width: 4.72222222rem;
    height: 4.44444444rem;
    display: none;
  }
  .container.event .wrap .doodles img.doodle7 {
    width: 11.05555556rem;
    height: 10.66666667rem;
    display: none;
  }
  .container .wrap section.evt1,
  .container .wrap section.evt2,
  .container .wrap section.evt3 {
    display: none;
  }
  .container[data-view='1'] .wrap section.evt1 {
    display: inline-block;
  }
  .container[data-view='2'] .wrap section.evt2 {
    display: inline-block;
  }
  .container[data-view='3'] .wrap section.evt3 {
    display: inline-block;
  }
  .container[data-view='3'] .wrap .doodles img.doodle2 {
    margin-left: 8.16666667rem;
    margin-top: 6.66666667rem;
  }
  .container[data-view='3'] .wrap .doodles img.doodle3 {
    display: none;
  }
  .container[data-view='3'] .wrap .doodles img.doodle4 {
    margin-left: 6.44444444rem;
    margin-top: 13.44444444rem;
  }
  .container[data-view='3'] .wrap .doodles img.doodle6 {
    margin-left: -49.38888889rem;
    margin-top: -3.05555556rem;
    display: inline-block;
  }
  .container[data-view='3'] .wrap .doodles img.doodle7 {
    margin-left: -53.33333333rem;
    margin-top: 5.27777778rem;
    display: inline-block;
  }
  .popup {
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
  }
  .popup .dim {
    position: fixed;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
  }
  .popup .inner {
    position: absolute;
    width: 44.44444444rem;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 5;
    overflow: hidden;
    padding: 0rem;
    box-sizing: border-box;
  }
  .popup .inner .popup-swiper {
    position: relative;
  }
  .popup .inner .popup-swiper:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow.png');
    background-size: contain;
    width: 35.27777778rem;
    height: 1.44444444rem;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .popup .inner .popup-swiper .swiper-slide {
    text-align: center;
  }
  .popup .inner .popup-swiper .swiper-slide img {
    width: 39.83333333rem;
    height: 39.66666667rem;
    display: inline-block;
  }
  .popup .inner .popup-swiper .swiper-button {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
    margin-top: 0rem;
    opacity: 1;
    right: 0rem;
  }
  .popup .inner .popup-swiper .swiper-button:after {
    display: none;
  }
  .popup .inner .popup-swiper .swiper-button.swiper-button-prev {
    margin-left: -17.61111111rem;
  }
  .popup .inner .popup-swiper .swiper-button.swiper-button-next {
    margin-left: 16.66666667rem;
  }
  .popup .inner .close {
    position: absolute;
    left: 50%;
    top: 1.88888889rem;
    right: auto;
    bottom: auto;
    margin-left: 18.88888889rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/close.png');
    background-size: contain;
    width: 2.83333333rem;
    height: 2.83333333rem;
  }
  .popup.on {
    display: block;
  }
  @keyframes post-it-wobble {
    16.65% {
      transform: skew(-0.2deg);
    }
    33.3% {
      transform: skew(0.3deg);
    }
    49.95% {
      transform: skew(-0.4deg);
    }
    66.6% {
      transform: skew(0.3deg);
    }
    83.25% {
      transform: skew(-0.2deg);
    }
    100% {
      transform: skew(0);
    }
  }
  .post-it-wobble.mo {
    display: none;
  }
  .post-it-wobble.web {
    display: inline-block;
    vertical-align: middle;
    transform-origin: 100% 0;
    transform: perspective(1px) translateZ(0);
  }
  .post-it-wobble.active {
    animation-name: post-it-wobble;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
/*# sourceMappingURL=style-pc.css.map */