.page-node-type-basic-page {
  .field--type-text-long {
    p {
      margin-top: $indent * 1.6;
      margin-bottom: $indent * 1.6;
      line-height: 1.5;

      @include media(desktop-600) {
        margin-top: $indent * 1.7;
        margin-bottom: $indent * 1.7;
      }
    }

    ul,
    ol {
      padding: 0;
      margin: 0 0 $indent $indent * 2.5;

      li {
        line-height: 20px;
      }
    }

    ul {
      list-style: disc;
    }

    a {
      color: $body-link-color;
      text-decoration: none;

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  p {
    line-height: 1.5;
  }
}
