.bdi-local-activation-menu--main-wrapper {
  .contextual-region {
    position: static;
    width: 100%;
  }

  .main-footer {
    @include media(desktop-1024) {
      display: none;
    }
  }
}

.bdi-local-activation-first-level {
  .bdi-local-activation-menu {
    @include media(desktop-1024) {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;

      a {
        padding: $indent * 2;
        font-size: $font-size * 2;
        line-height: 16px;
        color: $white;
      }

      .bdi-local-activation-menu-item {
        &.bdi-local-activation-menu-item--active-trail a::after,
        &:not(.bdi-local-activation-menu-item--expanded):hover a::after {
          opacity: 1;
          width: calc(100% - 40px);
          background: no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAAAFBAMAAABx6EW5AAAALVBMVEVHcEz////////////////////////////////////////////////////////NXt0CAAAADnRSTlMA7ffgbcWeVLPUF4Q9LPxNt5kAAADYSURBVBjTY2BAAK4FcKYLA8OtuwsY2AsYlm/Ldq85kpGWXbJ7i3f3XUfrBTy7C5A0Xe97GGr3cG/lO7Pkd++sazzfPRQUlHsHBBIg4pFkqNy7l0HvoEDpnWikseCM5mkutTD9JXogCb13j969ewjSp6inBCSE3ikbGoNlIKKPhC0jhUwj9RQFBRVNWyMNBY0jsqsgBvi9Iw687JB7Z5ERut1V7p1EqmWw4oy0NB+Itxl4vFMnGz3MPfEoovmdZPC7KQzHbx3JSHFxv7D8AMPaMwsYcIFVCxgAH+2M1PvZe2wAAAAASUVORK5CYII=') 50%/100% 100%;
        }
      }

      .bdi-local-activation-menu-item--expanded {
        position: relative;
        overflow: hidden;

        &.bdi-local-activation-show-with-logos {
          .bdi-local-activation-next-level .bdi-local-activation-menu {
            .bdi-local-activation-menu-item {
              width: 120px;
              overflow: hidden;
            }
          }
        }

        &.bdi-local-activation-show-full-width {
          position: static;

          &.bdi-local-activation-show-with-logos {
            .bdi-local-activation-full-width-menu-wapper {
              position: relative;
              flex-shrink: 3;
              overflow: hidden;
            }

            &.bdi-local-activation-kinder-has-promo-block .bdi-local-activation-full-width-menu-wapper {
              margin-right: $indent;

              .bdi-local-activation-full-width-menu-wapper-inner {
                justify-content: flex-start;
              }
            }

            .bdi-local-activation-full-width-menu-wapper-inner {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              scrollbar-width: none; /* Firefox */
              -ms-overflow-style: none;  /* IE 10+ */

              &.flex-start {
                justify-content: flex-start;
              }

              &::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
              }
            }

            .bdi-local-activation-next-level .bdi-local-activation-menu {
              display: flex;
              flex-wrap: nowrap;
              flex-shrink: 0;
              align-items: center;
            }

            .bdi-local-activation-service-menu-trigger {
              position: absolute;
              top: 0;
              width: 110px;
              height: 100%;
              z-index: 9999;

              .bdi-local-activation-menu-arrow {
                position: absolute;
                top: 50%;
                margin-top: -20px;
                width: 40px;
                height: 40px;
                padding: $indent;
                cursor: pointer;
              }

              &.bdi-local-activation-service-menu-left {
                //display: none;
                left: -110px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);

                .bdi-local-activation-menu-arrow {
                  left: 0;
                }

                .bdi-local-activation-menu-arrow-svg {
                  transform: rotate(180deg);
                }
              }

              &.bdi-local-activation-service-menu-right {
                right: -110px;
                background: linear-gradient(-90deg, rgba($white, 1) 35%, rgba($white, 0) 100%);;

                .bdi-local-activation-menu-arrow {
                  right: 0;
                }

                .bdi-local-activation-menu-arrow-svg {
                  transform: scaleY(-1);
                }
              }
            }
          }
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover a::after {
            bottom: 0;
            width: 55px;
            height: 13px;
            background: no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAAOCAYAAACLroQjAAAAuUlEQVR4AWLwySwEdFsGNQzDMBQ9lkBRBMBgFEMwBEqgBIE5FEAYBEAvf//gXSpN1rK0zvakd6305LiyqwBWGuhDDXQZ8e27IzaaaaGVHnjPTtM3oXcERSpGCIzIdZo4fVpZg0Yg7nG6MwXXEF3idFIF11I/3b8RO2U/P6fp9UYtNNEGG7fp9YRttMKPPDxOfxaCOYi9cXaUPwdNXXG6U1GjZkZoMONO51HDbyE0nu/SV9RO2x9ZqTwB8mITuQtriU8AAAAASUVORK5CYII=') top;
            opacity: 1;
            transition: height 0.2s ease-out, opacity 0.1s;
          }
          &:hover {
            overflow: visible;
          }

          &.touched-link > .bdi-local-activation-next-level,
          &:hover > .bdi-local-activation-next-level {
            @include media(desktop-1024) {
              height: auto;
              max-height: 500px;
              transition: max-height 0.8s ease-out;
            }
          }

          &.bdi-local-activation-no-full-width:hover > .bdi-local-activation-next-level {
            @include media(desktop-1024) {
              min-width: 100%;
              padding: $indent 0;
            }
          }

          &.bdi-local-activation-show-full-width:hover > .bdi-local-activation-next-level {
            @include media(desktop-1024) {
              & > .menu {
                display: flex;
              }
            }
          }
        }

        &.touched-link > a::after {
          bottom: 0;
          width: 55px;
          height: 13px;
          background: no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAAOCAYAAACLroQjAAAAuUlEQVR4AWLwySwEdFsGNQzDMBQ9lkBRBMBgFEMwBEqgBIE5FEAYBEAvf//gXSpN1rK0zvakd6305LiyqwBWGuhDDXQZ8e27IzaaaaGVHnjPTtM3oXcERSpGCIzIdZo4fVpZg0Yg7nG6MwXXEF3idFIF11I/3b8RO2U/P6fp9UYtNNEGG7fp9YRttMKPPDxOfxaCOYi9cXaUPwdNXXG6U1GjZkZoMONO51HDbyE0nu/SV9RO2x9ZqTwB8mITuQtriU8AAAAASUVORK5CYII=') top;
          opacity: 1;
          transition: height 0.2s ease-out, opacity 0.1s;
        }

        &.touched-link > .bdi-local-activation-next-level {
          @include media(desktop-1024) {
            height: auto;
            max-height: 500px;
            transition: max-height 0.8s ease-out;
          }
        }

        &.touched-link.bdi-local-activation-no-full-width > .bdi-local-activation-next-level {
          @include media(desktop-1024) {
            min-width: 100%;
            padding: $indent 0;
          }
        }

        &.touched-link.bdi-local-activation-show-full-width > .bdi-local-activation-next-level {
          @include media(desktop-1024) {
            & > .menu {
              display: flex;
            }
          }
        }

        &.bdi-local-activation-show-full-width.bdi-local-activation-kinder-has-promo-block > .bdi-local-activation-next-level {
          display: flex;
          align-items: start;

          .bdi-local-activation-menu {
            flex-shrink: 3;
            width: 63%;
          }

          .bdi-local-activation-promo-block {
            order: 1;
            flex-shrink: 1;
            margin: ($indent * 4) auto ($indent * 3) 0;
          }
        }

        &.bdi-local-activation-no-full-width.bdi-local-activation-kinder-has-promo-block  > .bdi-local-activation-next-level {
          display: block;

          .bdi-local-activation-menu {
            padding-top: $indent;
            padding-right: 300px + ($indent * 2);
          }

          .bdi-local-activation-promo-block {
            float: right;
            margin: $indent ($indent * 2) $indent 0;
          }
        }

        &.bdi-local-activation-no-full-width.bdi-local-activation-show-with-logos .bdi-local-activation-menu-item {
          margin: 0 auto;
        }
      }

      .bdi-local-activation-hide-md,
      .bdi-local-activation-icon-arrow,
      .bdi-local-activation-service-back-link {
        display: none;
      }
    }
  }

  .bdi-local-activation-next-level {
    @include media(desktop-1024) {
      height: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 1s linear;
    }
  }

  .bdi-local-activation-menu-arrow-below {
    display: inline;

    @include media(desktop-1024) {
      display: none;
    }
  }

  .bdi-local-activation-service-back-link .bdi-local-activation-menu-arrow-below {
    display: none;
  }

  @include media(desktop-1024) {
    .bdi-local-activation-mobile-menu-button-top {
      display: none;
    }
  }

  .bdi-local-activation-draggable {
    @include media(desktop-1024) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 1;
      }
      &::before {
        left: -180px;
        width: 180px;
        background: linear-gradient(90deg, $primary-color 0%, $primary-color 110px, rgba(243, 65, 14, 0.6) 163px, rgba(243, 65, 14, 0) 180px);
      }

      &::after {
        right: 0;
        width: 80px;
        background: linear-gradient(90deg, rgba(243, 65, 14, 0) 1%, $primary-color);
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .bdi-local-activation-first-level {
    .bdi-local-activation-menu {
      .bdi-local-activation-menu-item--expanded {
        &:hover a::after {
          bottom: 0;
          width: 55px;
          height: 13px;
          background: no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAAOCAYAAACLroQjAAAAuUlEQVR4AWLwySwEdFsGNQzDMBQ9lkBRBMBgFEMwBEqgBIE5FEAYBEAvf//gXSpN1rK0zvakd6305LiyqwBWGuhDDXQZ8e27IzaaaaGVHnjPTtM3oXcERSpGCIzIdZo4fVpZg0Yg7nG6MwXXEF3idFIF11I/3b8RO2U/P6fp9UYtNNEGG7fp9YRttMKPPDxOfxaCOYi9cXaUPwdNXXG6U1GjZkZoMONO51HDbyE0nu/SV9RO2x9ZqTwB8mITuQtriU8AAAAASUVORK5CYII=') top;
          opacity: 1;
          transition: height 0.2s ease-out, opacity 0.1s;
        }

        &:hover > .next-level {
          @include media(desktop-1024) {
            height: auto;
            max-height: 500px;
            transition: max-height 0.8s ease-out;
          }
        }

        &.bdi-local-activation-no-full-width:hover > .next-level {
          @include media(desktop-1024) {
            min-width: 100%;
            padding: $indent 0;
          }
        }

        &.bdi-local-activation-show-full-width:hover > .next-level {
          @include media(desktop-1024) {
            & > .menu {
              display: flex;
            }
          }
        }
      }
    }
  }
}
