$white-black: url('https://www.kinder.com/de/brands/kinder/themes/custom/kinder_theme/assets/images/svg/arrow-black.svg');

@include media-max(desktop-1024) {
  .bdi-local-activation-mobile-menu-open {
    overflow: hidden;

    .bdi-local-activation-main-content {
      opacity: 0;
      overflow: hidden;
    }

    .bdi-local-activation-button-to-top .bdi-local-activation-mobile-menu-button-top {
      display: block;
      position: fixed;
      right: $indent * 2;
      top: 60vh;
      z-index: 10;
    }

    #header {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &.not-sticky {
        transform: none;
      }

      .region-header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
      }
    }

    &.mobile-ios .menu--main-wrapper .next-level .region-footer {
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 1024px) and (min-width: 401px) {
  header .menu--main-wrapper .next-level .service-back-link a {
    margin-top: 80px;
  }
}

.bdi-local-activation-menu--main-wrapper {
  .bdi-local-activation-nav-panel {
    display: flex;
    justify-content: flex-end;
  }
  .bdi-local-activation-nav-panel-content {
    position: relative;
  }

  .bdi-local-activation-nav-panel-content .bdi-local-activation-main-navigation-title {
    @extend %chronic;
    display: none;

    @include media-max(desktop-1024) {
      display: block;
      padding-top: $indent * 4.8;
      font-size: $font-size * 2.8;
      line-height: .91429;
      color: $link-color;
      letter-spacing: -.01ex;
      text-align: center;
    }
  }

  @include media-max(desktop-1024) {
    .bdi-local-activation-nav-panel {
      position: fixed;
      top: 50px;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      padding-bottom: 50px;
      width: 100%;
      height: 100vh;
      background-color: $beige;
      transform: translateX(100%);
      overflow-y: auto;
      z-index: 5;

      .mobile-ios & {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }

    .bdi-local-activation-nav-panel-content {
      background-image: url('https://www.kinder.com/de/brands/kinder/themes/custom/kinder_theme/assets/images/cloud.png'), url('https://www.kinder.com/de/brands/kinder/themes/custom/kinder_theme/assets/images/cloud.png');
      background-position: -60px 90px, 100% 200px;
      background-size: 183px, 131px;
      background-repeat: no-repeat;
    }

    .bdi-local-activation-nav-panel .bdi-local-activation-main-footer {
      position: relative;
      z-index: 1;
      padding-bottom: 0;
      background: transparent;
      text-align: left;

      .menu {
        margin: 0;
        width: 100%;
      }

      li {
        padding-left: 0;
        border-bottom: 0;
      }

      a {
        padding-left: 0;
        font-family: $noto-sans;
      }
    }

    .bdi-local-activation-menu--main .bdi-local-activation-next-level .bdi-local-activation-menu--footer {
      .menu {
        margin: 0;
        width: 100%;

        li {
          border-bottom: 0 !important;

          a {
            padding: 0 !important;

            &:before {
              display: none !important;
            }
          }
        }
      }
    }

    .bdi-local-activation-nav-panel-content > ul {
      transform: none !important;
      padding: $indent * 4 0 $indent * 6.4;
    }

    .bdi-local-activation-nav-panel-content > ul > li {
      display: block;
      text-align: center;

      a {
        display: inline-block;
        padding: $indent;
        color: $font-color;
        line-height: 16px;

        &.sub-menu-open {
          color: $link-color;

          & > .icon-arrow {
            transform: rotate(-90deg);

            path {
              fill: $link-color;
            }
          }
        }
      }

      & > a {
        padding: $indent * 1.6;
        font-size: $font-size * 2.8;
        line-height: 18px;

        & > .bdi-local-activation-icon-arrow {
          display: inline-block;
          width: 20px;
          height: 20px;
          transform: rotate(90deg);
          transition: transform .25s;
        }
      }

      &.bdi-local-activation-hide-xs {
        display: none;
      }

      &.bdi-local-activation-menu-item--expanded > a {
        line-height: 16px;
      }
    }

    .bdi-local-activation-next-level {
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      margin-bottom: 50px;
      overflow: hidden;
      background-color: $beige;
      z-index: 1;

      ul {
        padding-bottom: $indent * 2.4;
      }

      .bdi-local-activation-next-level {
        display: none;
        height: 0;
      }

      .bdi-local-activation-service-back-link {
        a {
          margin: ($indent * 5) 0 ($indent * 3);
          padding: 0 ($indent * 0.5);
          font-size: $font-size * 2.8;
          line-height: .91429;
          color: $link-color;
          letter-spacing: 0.78px;
        }

        .bdi-local-activation-icon-arrow {
          display: inline-block;

          svg {
            width: 16px;
            height: 21px;
            transform: rotate(180deg);
            fill: $link-color;
          }
        }
      }

      .bdi-local-activation-promo-block {
        margin: 0 auto $indent * 4;
      }

      .bdi-local-activation-service-menu-trigger {
        display: none;
      }
    }

    .bdi-local-activation-menu--main .bdi-local-activation-next-level {
      .bdi-local-activation-menu {
        margin: 0 auto;
        width: 80vw;
        text-align: left;

        a {
          padding: 0;
          font-family: inherit;
          font-size: $font-size * 1.8;
          color: $grey-01;
          letter-spacing: 0.5px;
          line-height: 2;

          &.is-active {
            font-weight: 700;
            color: $link-color;

            & > .bdi-local-activation-icon-arrow {
              transform: rotate(-90deg);

              path {
                fill: $link-color;
              }
            }
          }
        }

        .bdi-local-activation-menu-item:not(.with-media) {
          border-bottom: 3px solid $beige-02;

          a {
            padding: $indent * 1.2 0 $indent * 1.2 $indent * 1.5;
            line-height: 1;
            white-space: normal;

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 16px;
              left: 0;
              width: 9px;
              height: 13px;
              background-image: $white-black;
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
    }

    .nav-panel-content .block-language li {
      a {
        display: block;
        padding: 0;
        line-height: 2.5625;
        text-align: center;
      }
    }

    .bdi-local-activation-menu-arrow-below {
      width: 16px;
      height: 18px;
      fill: $grey-01;
    }

    .bdi-local-activation-mobile-menu-button-top {
      display: none;
    }

    .bdi-local-activation-show-with-logos {
      .bdi-local-activation-next-level .bdi-local-activation-menu {
        .bdi-local-activation-menu-item {
          width: 180px;
          margin: $indent * 2 auto;

          a {
            display: block;
            width: 100%;
          }

          img {
            width: 100%;
          }
        }
      }

      &.bdi-local-activation-menu-item--expanded .with-media {
        img:hover {
          transform: none;
        }
      }

      .bdi-local-activation-full-width-menu-wapper-inner {
        display: flex;
        justify-content: center;
        min-width: 400px;

        .bdi-local-activation-menu {
          .bdi-local-activation-menu-item {
            margin: $indent * 2;
          }
        }
      }

      .bdi-local-activation-next-level > .bdi-local-activation-menu,
      .bdi-local-activation-full-width-menu-wapper-inner.bdi-local-activation-single-menu .bdi-local-activation-menu {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        margin: 0 auto;

        .bdi-local-activation-menu-item {
          margin: $indent * 2 $indent;
        }
      }
    }

    .bdi-local-activation-menu--main .bdi-local-activation-promo-block {
      width: 70vw;
      height: 35vw;

      .bdi-local-activation-play-button {
        width: 60px;
        height: 54px;
      }
    }

    .bdi-local-activation-next-level .bdi-local-activation-hide-xs {
      display: none;
    }
  }

  @include media-max(desktop-900) {
    .bdi-local-activation-nav-panel-content,
    .bdi-local-activation-next-level {
      background-position: -30px 170px, 103% 220px;
      background-size: 76px, 48px;
    }

    .bdi-local-activation-next-level {
      .bdi-local-activation-menu a {
        font-size: $font-size * 1.8;
      }

      .bdi-local-activation-promo-block {
        margin: 0 auto $indent * 2;
      }
    }

    .bdi-local-activation-menu--main .bdi-local-activation-promo-block {
      width: 80vw;
      height: 40vw;
    }
  }

  @include media-max(desktop-600) {
    .bdi-local-activation-show-with-logos {
      .bdi-local-activation-full-width-menu-wapper-inner {
        min-width: 300px;
      }

      .bdi-local-activation-next-level .bdi-local-activation-menu {
        .bdi-local-activation-menu-item {
          width: 110px;
        }
      }

      .bdi-local-activation-next-level > .bdi-local-activation-menu,
      .bdi-local-activation-full-width-menu-wapper-inner.bdi-local-activation-single-menu .bdi-local-activation-menu {
        width: 260px;

        .bdi-local-activation-menu-item {
          margin: $indent;
        }
      }
    }
  }
}

.bdi-local-activation-nav-mobile-button {
  display: block;
  position: absolute;
  right: 0;
  padding: 13px;
  height: 24px;
  width: 32px;
  box-sizing: content-box;

  @include media(desktop-1024) {
    display: none;
  }
}

.bdi-local-activation-nav-mobile-close-button {
  transform: translateX(100%);
}
