%chronic {
  font-family: $chronic;

  // Arabic
  [lang*='ar-'] & {
    font-family: $lalezar;
  }

  // Greece
  [lang*='el-'] & {
    font-family: $alabama;
  }

  // Korea
  [lang*='ko-'] & {
    font-family: $gamja;
  }

  // Russia
  [lang*='ru-'] &,
  [lang*='lv-'] &,
  [lang*='lt-'] &,
  [lang*='et-'] &,
  [lang*='kk-'] & {
    font-family: $noteworthy;
  }

  // Hebrew
  [lang*='he-'] & {
    font-family: $varela;
  }

  // Ukraine, Bulgaria
  [lang*='uk-'] &,
  [lang*='bg-'] & {
    font-family: $neucha;
  }

  [lang*='zh-CN'] & {
    font-family: Arial;
  }

  [lang*='zh-TW'] &,
  [lang*='zh-HK'] & {
    font-family: $setofont;
  }

  // Thailand
  [lang*='th-'] & {
    font-family: $pridi;
  }
}
