// Chronic
@font-face {
  font-family: 'Chronic Regular';
  src: url('../fonts/chronic/Chronic-Regular.woff2') format('woff2'),
    url('../fonts/chronic/Chronic-Regular.woff') format('woff'),
    url('../fonts/chronic/Chronic-Regular.ttf') format('truetype');
  font-display: swap;
}

// NotoSans
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/notosans/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/notosans/NotoSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/notosans/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/notosans/NotoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

// CabinSketch
@font-face {
  font-family: 'CabinSketch Bold';
  src: url('../fonts/cabin-sketch/CabinSketch-Bold.ttf') format('truetype');
  font-display: swap;
}

// KGSecondChanges
@font-face {
  font-family: 'KGSecondChanges Sketch';
  src: url('../fonts/kgsecondchance/KGSecondChancesSketch.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'KGSecondChanges Solid';
  src: url('../fonts/kgsecondchance/KGSecondChancesSolid.ttf') format('truetype');
  font-display: swap;
}

// AlabamaAlabama.ttf
@font-face {
  font-family: 'Alabama';
  src: url('../fonts/alabama/Alabama.ttf') format('truetype');
  font-display: swap;
}

// Gamja
@font-face {
  font-family: 'GamjaFlower Regular';
  src: url('../fonts/gamja/GamjaFlower-Regular.ttf') format('truetype');
  font-display: swap;
}

// Lalezar
@font-face {
  font-family: 'Lalezar Regular';
  src: url('../fonts/lalezar/Lalezar-Regular.ttf') format('truetype');
  font-display: swap;
}

// Neucha
@font-face {
  font-family: 'Neucha';
  src: url('../fonts/neucha/Neucha.ttf') format('truetype');
  font-display: swap;
}

// Noteworthy
@font-face {
  font-family: 'Noteworthy Bold';
  src: url('../fonts/noteworthy/Noteworthy-Bold.otf');
  font-display: swap;
}

// Pridi
@font-face {
  font-family: 'Pridi';
  src: url('../fonts/pridi/Pridi-Bold.ttf');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Pridi';
  src: url('../fonts/pridi/Pridi-ExtraLight.ttf');
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: 'Pridi';
  src: url('../fonts/pridi/Pridi-Light.ttf');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'Pridi';
  src: url('../fonts/pridi/Pridi-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Pridi';
  src: url('../fonts/pridi/Pridi-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Pridi';
  src: url('../fonts/pridi/Pridi-SemiBold.ttf');
  font-display: swap;
  font-weight: 600;
}

// Setofont
@font-face {
  font-family: 'Setofont';
  src: url('../fonts/setofont/setofont.woff')  format('woff');
  font-display: swap;
}

// Varela
@font-face {
  font-family: 'VarelaRound Regular';
  src: url('../fonts/varela/VarelaRound-Regular.ttf')  format('truetype');
  font-display: swap;
}
