// Variables used in SASS

// Colors
$white: #fff;
$black: #000;

$primary-color: #f3410e;

$red-01: #e9322d;
$red-02: #b94a48;
$red-03: #351917;

$pink-01: #f8b9b7;

$blue: #009fe5;
$blue-01: #16c0e6;
$blue-02: #0af;
$blue-03: #aadaf9;
$blue-04: #1e2136;
$blue-05: #d6f2ff;
$blue-06: #8dcfe9;
$blue-07: #0077b3;
$blue-08: #8bd2f1;

$yellow-01: #ffed00;
$yellow-02: #f2d503;
$yellow-03: #fdc301;

$beige: #faf5ed;
$beige-01: #e6e2e1;
$beige-02: #F4E4C1;

$grey-01: #424242;
$grey-02: #6f6e6a;
$grey-03: #555;
$grey-04: #e8dfd7;
$grey-05: #d7d7d7;
$grey-06: #ccc;
$box-shadow: #b4b3b3;

$font-color: $grey-01;
$link-color: $blue;
$body-link-color: $blue-02;
$box-shadow: $beige-01;

// Font sizes/weights/line-heights.
$font-size: 10px;

$png_7608c14e2d3a3149a83b82a88bd96939: url('https://www.kinder.com/de/brands/kinder/themes/custom/kinder_theme/assets/images/png/7608c14e2d3a3149a83b82a88bd96939.png');
$png_b47a47768f98d2edecd2462b8fa3da01: url('https://www.kinder.com/de/brands/kinder/themes/custom/kinder_theme/assets/images/png/b47a47768f98d2edecd2462b8fa3da01.png');

$gradients: (
  blue: ($blue-05, $blue),
  creamy: ($white, $beige-02),
  grey: ($white, $grey-04),
);

$title-color: (
  black: $font-color,
  red: $primary-color,
  yellow: $yellow-02,
  blue: $blue,
  white: $white
);

$title-size: (
  large: (
    big: 7.375vw,
    medium: 7.375vw,
    small: $font-size * 9,
  ),

  medium: (
    big: 4vw,
    medium: 4vw,
    small: $font-size * 5,
  ),

  small: (
    big: $font-size * 2.6,
    medium: 1.80556vw,
    small: $font-size * 1.6,
  ),
);

// Sizes
$indent: 10px;

// Content width
$max-content-width: 1056px;
$max-content-width-small: 900px;

// Breakpoints
$breakpoints: (
  desktop-1679: 1679px,
  desktop-1592: 1592px,
  desktop-1440: 1440px,
  desktop-1400: 1400px,
  desktop-1200: 1200px,
  desktop-1024: 1024px,
  desktop-900: 900px,
  desktop-600: 600px,
  tablet: 769px,
  mobile: 480px
);

$noto-sans: 'NotoSans', sans-serif;

$kg-second-chance: 'kgSecondChance Solid', sans-serif;
$cabin-sketch: 'Cabin Sketch', sans-serif;

$chronic: 'Chronic Regular', sans-serif;
$noteworthy: 'Noteworthy Bold', sans-serif; // Russia
$setofont: 'Setofont', sans-serif; // Hong Kong, China
$neucha: 'Neucha', sans-serif; // Ukraine
$pridi: 'Pridi', sans-serif; // Thailand
$gamja: 'GamjaFlower Regular', sans-serif; // Korea
$varela: 'VarelaRound Regular', sans-serif; // Hebrew
$alabama: 'Alabama', sans-serif; // Greece
$lalezar: 'Lalezar Regular', sans-serif; // AR

