/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 741px) {
  #campaign {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: notokr, sans-serif;
    text-align: center;
    letter-spacing: -0.05em;
    overflow: hidden;
  }
  #campaign input,
  #campaign select,
  #campaign textarea {
    outline: none;
  }
  #campaign table {
    table-layout: fixed;
    border-collapse: collapse;
  }
  #campaign img {
    display: block;
    backface-visibility: hidden;
  }
  #campaign .mo {
    display: none;
  }
  #campaign .pc {
    display: inline-block;
  }
  #campaign section.top {
    background: url("../img/pc/top-visual.png") top center no-repeat;
    background-size: cover;
    height: 926px;
  }
  #campaign section.morning {
    background: url("../img/pc/morning1.png") top center no-repeat;
    background-size: cover;
    height: 940px;
    overflow: hidden;
    position: relative;
  }
  #campaign section.morning > p {
    font-size: 20px;
    color: #fff;
    margin-top: 247px;
    line-height: 28px;
    font-weight: 300;
  }
  #campaign section.morning > p i,
  #campaign section.morning > p s {
    font-weight: 700;
  }
  #campaign section.morning > p s {
    color: #f8ef8b;
  }
  #campaign section.morning .date {
    margin-top: 27px;
    text-align: left;
    width: 834px;
    padding-left: 170px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  #campaign section.morning .date p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 8px;
  }
  #campaign section.morning .date p s {
    font-weight: 700;
    width: 121px;
    height: 29px;
    line-height: 29px;
    margin-right: 17px;
    background-color: #000;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
  }
  #campaign section.morning .pic {
    width: 834px;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 449px;
    right: auto;
    bottom: auto;
    margin-left: -417px;
    text-align: center;
    overflow: hidden;
  }
  #campaign section.morning .pic p {
    font-size: 28px;
    color: #fff;
    text-align: left;
    font-weight: 700;
    line-height: 60px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    padding-left: 15px;
    box-sizing: border-box;
  }
  #campaign section.morning .pic p:after {
    content: '';
    display: block;
    position: absolute;
    right: -60px;
    top: 0px;
    left: auto;
    bottom: auto;
    height: 60px;
    display: inline-block;
    border-top: 60px solid #000;
    border-right: 60px solid transparent;
  }
  #campaign section.morning .pic img {
    display: inline-block;
    height: 430px;
  }
  #campaign section.rule {
    background: url("../img/pc/rule.png") top center no-repeat;
    background-size: cover;
    height: 1270px;
    max-width: 946px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
  }
  #campaign section.rule .rule-box {
    position: absolute;
    left: 50%;
    top: 154px;
    right: auto;
    bottom: auto;
    margin-left: -420px;
  }
  #campaign section.rule .rule-box p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    display: inline-block;
    width: 180px;
    margin-right: 35px;
  }
  #campaign section.rule .rule-box p:last-child {
    margin-right: 0px;
  }
  #campaign section.rule .rule-box p s {
    font-weight: 700;
  }
  #campaign section.rule a {
    font-size: 0px;
    position: absolute;
    width: 381px;
    height: 85px;
    left: 50%;
    top: 280px;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
  }
  #campaign section.rule .kit {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 585px;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
  }
  #campaign section.rule .kit s {
    font-weight: 700;
    color: #e30613;
  }
  #campaign section.rule .stuff {
    width: 835px;
    height: 94px;
    text-align: center;
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 18px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e6e6e6;
    margin-top: 1100px;
    box-sizing: border-box;
  }
  #campaign section.rule .stuff p {
    font-size: 20px;
    color: #666;
    font-weight: 300;
  }
  #campaign section.rule .stuff p s {
    color: #000;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #campaign section.event {
    background: url("../img/pc/event.png") top center no-repeat;
    background-size: cover;
    height: 675px;
    max-width: 1136px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    position: relative;
    text-align: left;
  }
  #campaign section.event:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #f2f2f2;
    width: 1920px;
    height: 750px;
    left: 50%;
    top: -75px;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
    z-index: -1;
  }
  #campaign section.event .txt,
  #campaign section.event .txt-box,
  #campaign section.event .gift {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 0px;
    right: auto;
    bottom: auto;
    margin-left: -476px;
  }
  #campaign section.event .txt {
    top: 186px;
  }
  #campaign section.event .txt s {
    color: #e30613;
    font-weight: 700;
  }
  #campaign section.event .txt-box {
    top: 306px;
  }
  #campaign section.event .txt-box p {
    padding-left: 15px;
    position: relative;
    margin-bottom: 18px;
    box-sizing: border-box;
  }
  #campaign section.event .txt-box p s {
    font-weight: 700;
    display: inline-block;
    width: 110px;
  }
  #campaign section.event .txt-box p s:after {
    content: '';
    display: block;
    width: 3px;
    height: 20px;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 3px;
    right: auto;
    bottom: auto;
  }
  #campaign section.event .txt-box p:nth-child(1),
  #campaign section.event .txt-box p:nth-child(2) {
    display: inline-block;
  }
  #campaign section.event .txt-box p:nth-child(2) {
    margin-left: 45px;
  }
  #campaign section.event .gift {
    position: absolute;
    top: 580px;
  }
  #campaign section.event .gift p {
    font-size: 17px;
    display: inline-block;
    width: 130px;
    margin-right: 75px;
    text-align: center;
  }
  #campaign section.event .gift p:nth-child(2) {
    margin-right: 47px;
  }
  #campaign section.buy {
    background: url("../img/pc/buy.png") top center no-repeat;
    background-size: cover;
    height: 282px;
  }
  #campaign section.buy .btns {
    padding-top: 142px;
  }
  #campaign section.buy .btns a {
    font-size: 35px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 309px;
    height: 68px;
    line-height: 68px;
    background-color: #e30613;
    margin-top: 0px;
    margin-right: 6px;
    margin-bottom: 0px;
    margin-left: 6px;
    box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.2);
  }
  #campaign section.reason {
    background: url("../img/pc/reason.png") top center no-repeat;
    background-size: cover;
    height: 382px;
    position: relative;
  }
  #campaign section.reason .reason-list {
    position: absolute;
    left: 50%;
    top: 162px;
    right: auto;
    bottom: auto;
    margin-left: -196px;
  }
  #campaign section.reason .reason-list p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 34px;
    text-align: left;
  }
  #campaign section.reason .reason-list p s {
    font-weight: 700;
  }
  #campaign section.gallery {
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
  }
  #campaign section.gallery h2 {
    display: inline-block;
  }
  #campaign section.gallery p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 25px;
  }
  #campaign section.gallery p s {
    color: #e30613;
    font-weight: 700;
  }
  #campaign section.gallery .swiper-container {
    margin-top: 55px;
    margin-left: 40px;
  }
  #campaign section.gallery .swiper-container .swiper-slide {
    width: 270px;
    height: 277px;
  }
  #campaign section.gallery .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
/*# sourceMappingURL=style-pc.css.map */